@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  padding-top: 80px;
}